body {
    background: black;
}

.page-title {
    color: white;
    background: black;
    border-bottom: 1px solid white;
    padding: 20px;
    margin: 10px;
}

.page-subtitle {
    color: white;
    background: black;
    border-bottom: 1px solid white;
    padding: 10px;
    margin: 10px;
}

.text {
    color: white;
    padding: 10px;
    margin: 10px;
}
